@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

/* navbar css */
.navbar{
    display: flex;
    flex: 1;
    width: 100%;
}

/* main_container css */
.main_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* center_container css */
.center_container{
    display: flex;
    width: 100%;
    flex: 5;
}


/* left_container css */
.left_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2;
}

.firstDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    font-family: 'Sora', sans-serif;
}
.firstDiv h1{
    color: #B66E3E;
    padding-left: 3rem;
    padding-bottom: 1rem;
}
.firstDiv h2{
    color: #EC8C25;
    padding-left: 3rem;
    margin-bottom: 1rem;
}
.firstDiv p{
    padding-left: 3rem;
    font-size: larger;
    font-weight: 300;
}

.secondDiv{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    padding-left: 3rem;
}

.thirdDiv{
    padding-top: 2rem;
    flex: 4;
    font-family: 'Sora', sans-serif;
}
.thirdDiv h2{
    padding-left: 3rem;
    color: #EC8C25;
}
.thirdDiv h3{
    padding-left: 3rem;
    color: #B66E3E;
}

/* buttons */
.socialButton{
    border: none;
    padding-right: 2rem;
    background-color: white;
}
.socialButton img{
    height: 2rem;
    width: 2rem;
}


/* mid_container css */
.mid_container{
    height: 100%;
    flex: 3;
}
.img{
    width: 100%;
    height: 100%;
}
.image{
    height: 40rem;
    width: 40rem;
}
/* right_container css */
.right_container{
    height: 100%;
    flex: 1;
    display: none;
}

/* media queries */
@media screen and (max-width: 912px) {
    .center_container{
        flex-direction: column;
    }
    .left_container{
        display: none;
    }
    .right_container{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
    }
    .image{
        height: 35rem;
        width: 35rem;
    }
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:610px){
    .image{
        height: 20rem;
        width: 20rem;
    }
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}