@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.image_section {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.image_div {
  width: 120px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50%;
}
.image {
  background-color: #d9d9d9;
  border-radius: 50%;
}
.image_alt {
  position: absolute;
  left: 20px;
  font-size: 14px;
}
.profile_name {
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.profile_email {
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
}
.profile_section {
  margin: 20px 0;
}
.profile_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
}
.profile_info:hover {
  color: #000000;
}
.profile_info_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  font-size: 25px;
  line-height: 37px;
  cursor: pointer;
}
.profile_info_btn {
  background-color: #ffffff;
  padding: 3px;
  font-size: 24px;
  box-shadow: -6px 0px 22px rgba(0, 0, 0, 0.25);
  box-shadow: -1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.profile_info_btn:hover {
  color: #000000;
  transform: translateX(4px);
}

.responsive_mobile {
  display: none;
}
.responsive_mobile_image {
  display: none;
}

@media screen and (max-width: 820px) {
  .image_div {
    width: 100px;
  }
  .image_alt {
    left: 18px;
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .profile_heading {
    display: none;
  }
  .image_div {
    display: none;
  }
  .image_section {
    justify-content: center;
  }
  .profile_name {
    margin-left: 0;
    text-align: center;
  }
  .profile_email {
    margin-left: 0;
    text-align: center;
  }
  .profile_info {
    width: 100%;
  }
  .profile_section {
    margin: 35px 0;
    margin-top: 60px;
  }

  .responsive_mobile_image {
    display: block;
  }
  .responsive_mobile_image_div {
    z-index: 555;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 140px;
  }
  .responsive_mobile_image_alt {
    position: absolute;
    left: 13px;
    font-size: 12px;
  }
  .responsive_mobile_image {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
    border: none;
    outline: none;
    border-radius: 50%;
  }
}
@media screen and (max-width: 420px){
  .profile_info_title{
    font-size: 23px ;
  }
}
@media screen and (max-width: 365px) {
  .profile_info_title {
    font-size: 22px;
  }
}
