.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 11rem;
height: 51.75px;
left: 109px;
top: 59px;
}

.nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0rem 0.9rem;
  margin-top: 1.2rem;
}

.nav ul li a {
  color: #fd7e14;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

.nav .menu {
  display: none;
}

.nav .cross {
  display: none;
}

@media only screen and (max-width: 862px) {
  .menu {
    display: block;
    font-size: 25px;
  }
  .cross {
    display: block;
    font-size: 25px;
  }
  .nav ul {
    background: #f1530a;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  .nav ul li {
    display: block;
    margin: 25px;
  }
   .menu {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
   .cross {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
